@font-face {
    font-family: 'Nintendo DS BIOS';
    src: url('../fonts/Nintendo-DS-BIOS.eot');
    src: url('../fonts/Nintendo-DS-BIOS.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nintendo-DS-BIOS.woff2') format('woff2'),
        url('../fonts/Nintendo-DS-BIOS.woff') format('woff'),
        url('../fonts/Nintendo-DS-BIOS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}